.version-black, .version-black-2 {
    background-color: black!important;
}
.version-white, .version-white-2 {
    background-color: white;
}
.version-soulsilver {
    background-color: silver;
}
.version-heartgold {
    background-color: gold;
}
.version-sapphire {
    background-color: blue;
}
.version-ruby {
    background-color: red;
}
.version-emerald {
    background-color: green;
}

#expiredSession {
    position: fixed;
    top: 70px;
    z-index: 1000;
}
#expiredSession div {
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 992px){
    .navbar-nav {
        text-align: center;
    }
}