$typeColors: (
    'normal'    : lighten(#A8A878, 10%),
    'fire'      : lighten(#F08030, 10%),
    'water'     : lighten(#6890F0, 10%),
    'grass'     : lighten(#BCDEAA, 10%),
    'electric'  : lighten(#F8D030, 10%),
    'ice'       : lighten(#98D8D8, 10%),
    'ground'    : lighten(#E0C068, 10%),
    'flying'    : lighten(#A890F0, 10%),
    'poison'    : lighten(#A040A0, 10%),
    'fighting'  : lighten(#C03028, 10%),
    'psychic'   : lighten(#F85888, 10%),
    'dark'      : lighten(#705848, 10%),
    'rock'      : lighten(#B8A038, 10%),
    'bug'       : lighten(#A8B820, 10%),
    'ghost'     : lighten(#705898, 10%),
    'steel'     : lighten(#B8B8D0, 10%),
    'dragon'    : lighten(#7038F8, 10%),
    'fairy'     : lighten(#FFAEC9, 10%)
);

@each $type, $color in $typeColors {
    .type-#{$type} {
        border: 3px solid $color;
        &:hover {
            border: 3px solid darken($color, 10%);
        }
    }
    @each $innerType, $innerColor in $typeColors {
        @if $type != $innerType {
            .type-#{$type}#{$innerType} {
                border: 3px solid transparent; 
                border-image: linear-gradient($color 50%, $innerColor 50%) 24% round;
                &:hover {
                    border-image: linear-gradient(darken($color, 10%) 50%, darken($innerColor, 10%) 50%) 24% round;
                }
            }
        }
    }
}